<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>write your new post</h1>
    <form method="POST" action="/users" >  
        <input placeholder="from" name="form"><br>
        <input placeholder="msg" name="msg"><br>
        <input placeholder="to" name="to">
        <br>
        <button>submit</button>
    </form>
    
</body>
</html>